<!DOCTYPE html>
<html>
    <header><h3>Profile</h3>
    </header>

    <body>
        <p>will return profile details and able to edit</p>
        <a href="{{ url_for('home') }}">Home</a><br>
        <!--need logout button-->
        <!-- 
        <p>FIRST NAME, LAST NAME, PHONE NUMBER </p>
        <form action="/profile" method="POST">
            <input type="name" name="first">
            <input type="name" name="last">
            <input type="number" name="num">
            <input type="submit" name="submit">
        </form> -->
    </body>

</html>