<!DOCTYPE html>
<html>
    <header><h3>Make Report</h3>
    </header>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <body>

        <form id = "location-form" action="/make_report" method="POST" enctype="multipart/form-data">
            <p>Location:<br><input id="search" type= "text" name="location"><br>
            <p>Latitude:<input id="latitude" type= "text" name="latitude" readonly><br></p>
            <p>Longitude:<input id="longitude" type= "text" name="longitude" readonly><br></p>
            Report:<br>
            <textarea rows="5" cols="40" name="report"></textarea><br>
            <input type="file" name="fileToUpload" id="fileToUpload"><br>
            <input type="submit" name="submit"></p> 
        </form>

        
        <script>
            function initAutocomplete() {
                var input = document.getElementById('search')
                var autocomplete = new google.maps.places.Autocomplete(input);
                google.maps.event.addListener(autocomplete, 'place_changed', function() {
                    var place = autocomplete.getPlace();
                    var lat = place.geometry.location.lat();
                    var lng = place.geometry.location.lng();
                    document.getElementById("latitude").value = lat;
                    document.getElementById("longitude").value = lng;
     
                });
            }
        </script>
         <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeQmNz_y5iceHHdjfQPFC-JJP98NjBO6U&libraries=places&callback=initAutocomplete"></script>
    </body>

</html>